input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="url"],
input[type="time"],
input[type="date"],
input[type="timedate"] {
  box-sizing: border-box;
  width: 100%;
  height: 4rem;
  padding: 0 1rem;
  border: none;
  border-radius: 0.6rem;
  outline: none;
  background-color: var(--background-minus);
  box-shadow: inset 0 -0.1rem 0 #858585;
  color: var(--text-color);
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 4rem;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="username"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
input[type="time"]:focus,
input[type="date"]:focus,
input[type="timedate"]:focus {
  box-shadow: inset 0 -0.3rem 0 var(--accent-color);
}

.lists ul li input[type="text"],
.lists ul li input[type="margin"],
.lists ul li input[type="username"],
.lists ul li input[type="email"],
.lists ul li input[type="password"],
.lists ul li input[type="search"],
.lists ul li input[type="url"],
.lists ul li input[type="time"],
.lists ul li input[type="date"],
.lists ul li input[type="timedate"] {
  margin: 0;
}

.pack-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.3rem;
}

/* Search box */
[role="search"] {
  display: flex;
  width: 100%;
  height: 4rem;
  border-radius: 2rem;
  background-color: var(--item-plus);
}

[role="search"] input[type="text"],
[role="search"] input[type="number"],
[role="search"] input[type="username"],
[role="search"] input[type="email"],
[role="search"] input[type="password"],
[role="search"] input[type="search"],
[role="search"] input[type="url"],
[role="search"] input[type="time"],
[role="search"] input[type="date"],
[role="search"] input[type="timedate"] {
  flex-grow: 1;
  padding: 0;
  background-color: transparent;
  box-shadow: none;
}

[role="search"] input[type="text"]:first-child,
[role="search"] input[type="number"]:first-child,
[role="search"] input[type="username"]:first-child,
[role="search"] input[type="email"]:first-child,
[role="search"] input[type="password"]:first-child,
[role="search"] input[type="search"]:first-child,
[role="search"] input[type="url"]:first-child,
[role="search"] input[type="time"]:first-child,
[role="search"] input[type="date"]:first-child,
[role="search"] input[type="timedate"]:first-child {
  padding-inline-start: 1.5rem;
}

[role="search"] button {
  flex-shrink: 0;
  width: 4rem;
  height: 4rem;
  padding: 0 1rem;
  border: none;
  border-radius: 2rem;
  background-color: transparent;
  color: var(--text-color);
  line-height: 4rem;
}

[role="search"] button[type="submit"] {
  width: 5rem;
  height: 3rem;
  margin: 0.5rem;
  margin-inline-start: 0;
  padding: 0 1.5rem;
  background-color: var(--accent-color);
  color: var(--accent-color-plus);
  line-height: 3rem;
}

[role="search"] button[data-icon]::before {
  position: static;
  height: 4rem;
  font-size: 2rem;
  line-height: 4rem;
}

[role="search"] button[type="submit"][data-icon]::before {
  height: 3rem;
  line-height: 3rem;
}

/* Message box */
[role="messagebox"] {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 4.6rem;
  padding: 0 0.5rem;
  gap: 0.5rem;
  border-radius: 2.5rem;
  background-color: var(--item-plus);
}

[role="messagebox"] input[type="text"],
[role="messagebox"] input[type="number"],
[role="messagebox"] input[type="username"],
[role="messagebox"] input[type="email"],
[role="messagebox"] input[type="password"],
[role="messagebox"] input[type="search"],
[role="messagebox"] input[type="url"],
[role="messagebox"] input[type="time"],
[role="messagebox"] input[type="date"],
[role="messagebox"] input[type="timedate"] {
  flex-grow: 1;
  height: 4.6rem;
  padding: 0;
  background-color: transparent;
  box-shadow: none;
  line-height: 4.6rem;
}

[role="messagebox"] input[type="text"]:first-child,
[role="messagebox"] input[type="number"]:first-child,
[role="messagebox"] input[type="username"]:first-child,
[role="messagebox"] input[type="email"]:first-child,
[role="messagebox"] input[type="password"]:first-child,
[role="messagebox"] input[type="search"]:first-child,
[role="messagebox"] input[type="url"]:first-child,
[role="messagebox"] input[type="time"]:first-child,
[role="messagebox"] input[type="date"]:first-child,
[role="messagebox"] input[type="timedate"]:first-child {
  padding-inline-start: 1.5rem;
}

[role="messagebox"] button {
  flex-shrink: 0;
  width: 3.6rem;
  height: 3.6rem;
  margin: 0.5rem 0;
  padding: 0 0.5rem;
  background-color: transparent;
  color: var(--text-color);
  line-height: 3.6rem;
}

[role="messagebox"] button:hover {
  background-color: var(--item-hover);
}

[role="messagebox"] button:active {
  background-color: var(--item-active);
  color: var(--text-color-faded);
}

[role="messagebox"] button[type="submit"] {
  width: 5rem;
  height: 3.6rem;
  margin-inline-start: 0;
  padding: 0 1.5rem;
  background-color: var(--accent-color);
  color: var(--accent-color-plus);
  line-height: 3.6rem;
}

[role="messagebox"] button[data-icon]::before {
  position: static;
  height: 3.6rem;
  font-size: 2rem;
  line-height: 3.6rem;
}
