@font-face {
  font-family: 'Jali Arabic';
  src: url(/fonts/JaliArabic-Regular.ttf);
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: 'Jali Arabic', system-ui;
  -webkit-tap-highlight-color: transparent;
}

.app {
  --statusbar-height: 4rem;
  --software-buttons-height: 4rem;
  --safezone-width: 75rem;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background);
}

.panel {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.panel > .content {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  overflow-y: auto;
  margin-top: calc((-5rem - var(--statusbar-height)) * var(--progress, 0));
  padding-bottom: var(--software-buttons-height);
  box-sizing: border-box;
  scrollbar-width: none;
}

.panel > .content::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: var(--software-buttons-height);
  background-color: var(--acrylic-background);
  backdrop-filter: blur(20px);
  z-index: 5;
}

.panel > .content form.search {
  width: calc(100% - 3rem);
  max-width: calc(var(--safezone-width) - 3rem);
  margin: 0 auto;
}

.panel > .content aside {
  margin: 0 auto 1.5rem;
  padding: 0;
  background-color: var(--background-minus);
  border-radius: 1.5rem;
  width: calc(100% - 3rem);
  max-width: 71.8rem;
  box-sizing: border-box;
}

.panel > .content aside header {
  width: 100%;
  padding: 0 2rem;
  box-sizing: border-box;
  height: 3rem;
  line-height: 3rem;
  color: #858585;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1rem 0 0;
}

.panel > .content aside ul {
  margin: 0;
  padding: 0 0.5rem 0.5rem;
  width: 100%;
  background-color: transparent;
}

.panel > .content aside ul li {
  min-height: 3.2rem;
  background-color: transparent;
  list-style: none;
}

.panel > .content aside ul li > a {
  color: var(--accent-color);
  width: max-content;
  line-height: 2.2rem;
  font-size: 1.6rem;
  text-decoration: none;
  transition: box-shadow 0.2s ease;
}

.panel > .content aside ul li > a:hover {
  box-shadow: 0 0.2rem 0 var(--accent-color);
}

.panel > .content aside ul li > a:active {
  opacity: 0.5;
}

.panel > .content .scrollbar-track {
  background-color: transparent;
  overflow: hidden;
  border-radius: 1rem;
  margin: 0.25rem;
}

.panel > .content .scrollbar-track-x {
  height: 0.75rem;
  bottom: var(--software-buttons-height);
}

.panel > .content .scrollbar-track-y {
  width: 0.75rem;
  top: calc(0.5rem + (5rem * var(--progress)) + (13rem * var(--overscroll-progress)));
  height: calc(100% - 1rem - var(--software-buttons-height) - (5rem * var(--progress)) + (13rem * var(--overscroll-progress)));
}

.panel > .content .scrollbar-thumb {
  border-radius: 1rem;
  box-sizing: border-box;
  width: 0.75rem;
  height: 0.75rem;
  background-color: var(--text-color-faded);
  background-clip: content-box;
}

.hbox {
  display: flex;
  flex-direction: row;
}

.vbox {
  display: flex;
  flex-direction: column;
}

.start {
  align-items: start;
  justify-content: start;
}

.center {
  align-items: center;
  justify-content: center;
}

.end {
  align-items: end;
  justify-content: end;
}

.fit {
  flex-grow: 1;
}

@media screen and (max-width: 320px) and (max-height: 240px),
       screen and (max-width: 240px) and (max-height: 320px) {
  .app {
    --statusbar-height: 3rem;
  }
}

@media screen and (min-width: 1536px) {
  .panel > .content aside {
    position: absolute;
    right: 0;
    top: calc(5rem + var(--statusbar-height) + (4rem * (1 - var(--progress, 0))));
    width: 22rem;
    margin: calc(1.5rem * var(--progress, 0)) 1.5rem 1.5rem;
  }
}
