.lists header {
  box-sizing: border-box;
  width: 100%;
  max-width: var(--safezone-width);
  height: 3rem;
  margin: 1rem auto 0;
  padding: 0 2rem;
  color: var(--accent-color);
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 3rem;
  text-transform: uppercase;
}

.lists.sticky header,
.sticky .lists header {
  position: sticky;
  top: 0;
}

.lists ul {
  box-sizing: border-box;
  width: calc(100% - 3rem);
  max-width: calc(var(--safezone-width) - 3rem);
  margin: 0 auto 1.5rem;
  padding: 0.5rem;
  border-radius: 1.5rem;
  background-color: var(--background-plus);
}

.lists ul li {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  min-height: 5rem;
  margin: 0;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  outline: none;
  color: var(--text-color);
  list-style: none;
  transition: background-color 0.3s ease;
}

.lists ul li:not(.hbox, .vbox) {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.lists ul li:not(.noclick):focus,
.lists ul li:not(.noclick):hover {
  background-color: var(--item-hover);
  transition: background-color 0.1s ease;
}

.lists ul li:not(.noclick):active {
  background-color: var(--item-active);
  transition: background-color 0.1s ease;
}

.lists ul li:not(.noclick).selected {
  background-color: var(--accent-color);
  color: var(--accent-color-plus);
}

.lists ul li[data-icon] {
  padding-inline-start: 4.5rem;
}

.lists ul li[data-icon]::before {
  position: absolute;
  top: 50%;
  width: 2.4rem;
  height: 2.4rem;
  margin-top: -1.2rem;
  color: var(--text-color);
  font-size: 2.4rem;
  line-height: 2.4rem;
}
html[dir="ltr"] .lists ul li[data-icon]::before {
  left: 1.2rem;
}
html[dir="rtl"] .lists ul li[data-icon]::before {
  right: 1.2rem;
}

.lists ul li[data-icon].selected::before {
  color: var(--accent-color-plus);
}

.lists ul li::after {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 1.5rem;
  width: calc(100% - 3rem);
  height: 100%;
  border-top: solid 0.1rem var(--item-plus);
  content: '';
  pointer-events: none;
}

.lists ul li:not(.noclick):hover::after,
.lists ul li:not(.noclick):active::after,
.lists ul li:not(.noclick):hover + li::after,
.lists ul li:not(.noclick):active + li::after,
.lists ul li:first-child::after {
  border-top: none;
}

.lists ul li.page {
  padding-inline-end: 5rem;
}

.lists ul li.page::after {
  background: url(lists/images/forward.svg) no-repeat center right / 2rem;
  content: '';
}
html[dir="rtl"] .lists ul li.page::after {
  transform: scaleX(-1);
}

.lists ul li.page.selected::after {
  color: var(--accent-color-plus);
  opacity: 0.5;
}

.lists ul li > img {
  flex-shrink: 0;
  width: 4rem;
  height: 4rem;
  margin-inline-start: -0.5rem;
  margin-inline-end: 1rem;
  border-radius: 50%;
  background-color: var(--background-minus);
}

.lists ul li a {
  width: 100%;
  margin: 0;
  overflow: hidden;
  color: var(--text-color);
  font-size: 1.6rem;
  line-height: 2.2rem;
  text-decoration: none;
  text-overflow: ellipsis;
}

.lists ul li p {
  width: 100%;
  margin: 0;
  overflow: hidden;
  color: var(--text-color);
  font-size: 1.6rem;
  line-height: 2.2rem;
  text-overflow: ellipsis;
}

.lists ul li.selected a,
.lists ul li.selected p {
  color: var(--accent-color-plus);
}

.lists ul li p:not(:first-child) {
  font-size: 1.4rem;
  line-height: 1.9rem;
  opacity: 0.5;
}
