input[type="range"] {
  background-color: var(--item-plus);
  border-radius: 1.2rem;
  height: 2.4rem;
  width: 100%;
  margin: 0 0 1rem;
}

input[type="range"]::-webkit-slider-thumb {
  background-color: var(--accent-color);
  border-radius: 1.2rem;
  height: 2.4rem;
  width: 2.4rem;
}
