* {
  appearance: none;
  cursor: default;
}

*:focus {
  box-shadow: 0 0 0 3px var(--accent-color, #0061e0), 0 0 0 5px rgba(var(--accent-color-r, 0), var(--accent-color-g, 97), var(--accent-color-b, 224), 0.5);
}

a,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
}

textarea,
p,
input[type='text'],
input[type='username'],
input[type='email'],
input[type='password'],
input[type='search'],
input[type='url'] {
  cursor: text;
}

::-webkit-scrollbar {
  width: 0 /* 8px */;
  height: 0 /* 8px */;
}

::-webkit-scrollbar-thumb {
  background-color: #858585;
  background-clip: content-box;
  border: 2px solid transparent;
  border-radius: 8px;
  width: 8px;
  height: 8px;
}

::selection {
  background-color: var(--accent-color, #0061e0);
  color: var(--accent-color-plus, rgba(255, 255, 255, 0.75));
}

.openorchid-pip-button {
  position: absolute;
  min-width: 40px;
  width: max-content;
  height: 40px;
  background-color: rgba(51, 51, 51, 0.75);
  border-radius: 20px;
  outline: 10px solid transparent;
  outline-offset: 10px;
  border: none;
  transition: all 0.3s ease;
}

.openorchid-pip-button.enabled {
  outline: 3px solid #fff;
  outline-offset: 1px;
}
