<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Layout</title>
  <link rel="stylesheet" href="../../../default_theme/style/index.css">
  <link rel="stylesheet" href="../icons/icons.css">
  <link rel="stylesheet" href="../layout.css">
  <link rel="stylesheet" href="../headers.css">
  <link rel="stylesheet" href="../lists.css">
  <link rel="stylesheet" href="../buttons.css">
  <link rel="stylesheet" href="../switches.css">
  <link rel="stylesheet" href="../checkboxes.css">
  <link rel="stylesheet" href="../radios.css">
  <link rel="stylesheet" href="../chrome.css">
  <script defer src="../../js/panels.js"></script>
</head>
<body>
  <div class="app">
    <div class="panel">
      <div class="headerbar">
        <div class="safezone">
          <a href="#" data-icon="menu"></a>
          <h1>App Name</h1>
          <menu role="toolbar">
            <a href="#" data-icon="search"></a>
          </menu>
        </div>
      </div>

      <div class="content lists">
        <header>List Items</header>
        <ul>
          <li>
            <p>I'm clickable</p>
          </li>
          <li class="noclick">
            <p>I'm not clickable</p>
          </li>
          <li>
            <p>I'm clickable too</p>
            <p>And also with a description</p>
          </li>
          <li>
            <p>I'm also clickable</p>
            <p>And also with a description</p>
            <p>And a another</p>
          </li>
        </ul>

        <header>Buttons</header>
        <ul>
          <li>
            <button>Default</button>
          </li>
          <li>
            <button class="recommend">Recommend</button>
          </li>
          <li>
            <button class="danger">Danger</button>
          </li>
        </ul>

        <header>Switches</header>
        <ul>
          <li>
            <div class="pack-switch">
              <label for="switch1">
                <p>Switch off</p>
              </label>
              <span>
                <input type="checkbox" name="switch1" id="switch1">
              </span>
            </div>
          </li>
          <li>
            <div class="pack-switch">
              <label for="switch2">
                <p>Switch on</p>
              </label>
              <span>
                <input type="checkbox" name="switch2" id="switch2" checked>
              </span>
            </div>
          </li>
        </ul>

        <header>Checkboxes</header>
        <ul>
          <li>
            <div class="pack-checkbox">
              <label for="checkbox1">
                <p>Checkbox off</p>
              </label>
              <span>
                <input type="checkbox" name="checkbox1" id="checkbox1">
              </span>
            </div>
          </li>
          <li>
            <div class="pack-checkbox">
              <label for="checkbox2">
                <p>Checkbox on</p>
              </label>
              <span>
                <input type="checkbox" name="checkbox2" id="checkbox2" checked>
              </span>
            </div>
          </li>
          <li>
            <div class="pack-checkbox danger">
              <label for="checkbox3">
                <p>Danger checkbox on</p>
              </label>
              <span>
                <input type="checkbox" name="checkbox3" id="checkbox3" checked>
              </span>
            </div>
          </li>
        </ul>

        <header>Radios</header>
        <ul>
          <li>
            <div class="pack-radio">
              <label for="radio1">
                <p>Radio off</p>
              </label>
              <span>
                <input type="radio" name="radio" id="radio1">
              </span>
            </div>
          </li>
          <li>
            <div class="pack-radio">
              <label for="radio2">
                <p>Radio on</p>
              </label>
              <span>
                <input type="radio" name="radio" id="radio2" checked>
              </span>
            </div>
          </li>
          <li>
            <div class="pack-radio danger">
              <label for="radio3">
                <p>Danger radio</p>
              </label>
              <span>
                <input type="radio" name="radio" id="radio3">
              </span>
            </div>
          </li>
        </ul>

        <header>Chrome</header>
        <div class="chrome visible" style="position: relative; height: 10rem; max-width: 76.8rem; margin: 0 auto;">
          <div class="toolbar">
            <div class="tablist-holder">
              <button class="profile-button" data-icon="user">
                <img src="" alt="" class="avatar">
              </button>
              <button class="side-tabs-button" data-icon="browser-sidetabs"></button>
              <ul class="tablist">
                <li class="active">
                  <img src="" alt="" class="favicon">
                  <div class="title">Hey there!</div>
                  <button class="close-button" data-icon="close"></button>
                </li>
                <li>
                  <img src="" alt="" class="favicon">
                  <div class="title">I'm a tab</div>
                  <button class="close-button" data-icon="close"></button>
                </li>
              </ul>
              <button class="add-button" data-icon="browser-addtab"></button>
            </div>
            <div class="navbar">
              <button class="navbar-back-button" data-icon="browser-back"></button>
              <button class="navbar-forward-button" data-icon="browser-forward"></button>
              <button class="navbar-reload-button" data-icon="browser-reload"></button>
              <button class="navbar-home-button" data-icon="browser-home"></button>
              <div class="urlbar">
                <button class="urlbar-ssl" data-icon="browser-ssl"></button>
                <input type="url" class="urlbar-input" />
                <div class="urlbar-display-url">
                  <div class="ignored">Type here to search...</div>
                </div>
                <button class="urlbar-bookmark" data-icon="browser-bookmark"></button>
                <button class="urlbar-go" data-icon="browser-forward"></button>
              </div>
              <button class="navbar-tabs-button" data-icon="browser-windows"></button>
              <button class="navbar-downloads-button" data-icon="browser-downloads"></button>
              <button class="navbar-library-button" data-icon="browser-library"></button>
              <button class="navbar-addons-button" data-icon="browser-addons"></button>
              <button class="navbar-options-button" data-icon="browser-options"></button>
            </div>
          </div>
        </div>

        <header>Flex HBox</header>
        <ul class="hbox">
          <li class="noclick start"><p>Start</p></li>
          <li class="noclick center"><p>Center</p></li>
          <li class="noclick end"><p>End</p></li>
        </ul>
        <header>Flex VBox</header>
        <ul class="vbox">
          <li class="noclick start"><p>Start</p></li>
          <li class="noclick center"><p>Center</p></li>
          <li class="noclick end"><p>End</p></li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
